* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#progress-header {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

#glowing {
  display: flex;
  gap: 1px;

  justify-content: center;
  /*  border: 1px solid red; */
  width: 66%;
}

@media only screen and (min-width: 768px) {
  #glowing p {
    font-size: 7vh !important;
    width: 10vh !important;
    height: 10vh !important;
    /*  background-color: red !important;
    display: none; */
  }

  /* 	.modal-body p {

		} */
}

#glowing p {
  margin-top: auto;
  margin-bottom: auto;
  background-color: black;
  font-size: 5vw;
  width: 7vw;
  height: 7vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  animation: animate 2s linear infinite;

  /* border: 1px solid red; */
  text-align: center;
}

@keyframes animate {
  from {
    color: #f00;
    box-shadow: 0 2px 10px rgba(255, 0, 0, 1);
    border: 1px solid rgba(255, 0, 0, 1);
  }

  33.3% {
    color: #ff0;
    box-shadow: 0 2px 10px rgba(255, 255, 0, 1);
    border: 1px solid rgba(255, 255, 0, 1);
  }
  66.6% {
    color: #0f0;
    box-shadow: 0 2px 10px rgba(0, 255, 0, 1);
    border: 1px solid rgba(0, 255, 0, 1);
  }
  to {
    color: #f00;
    box-shadow: 0 2px 10px rgba(255, 0, 0, 1);
    border: 1px solid rgba(255, 0, 0, 1);
  }
}

#glowing p:nth-child(1) {
  animation-delay: 0s;
}
#glowing p:nth-child(2) {
  animation-delay: 0.1s;
}
#glowing p:nth-child(3) {
  animation-delay: 0.2s;
}
#glowing p:nth-child(4) {
  animation-delay: 0.3s;
}
#glowing p:nth-child(5) {
  animation-delay: 0.4s;
}
#glowing p:nth-child(6) {
  animation-delay: 0.5s;
}
#glowing p:nth-child(7) {
  animation-delay: 0.6s;
}
#glowing p:nth-child(8) {
  animation-delay: 0.7s;
}

.dropdown-menu p {
  line-height: 25px;
  font-size: 1rem;
  color: black;
}

.fill-progress {
  animation-duration: 2s;
  animation-name: fill-progress;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.project > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  width: 100%;
  gap: 15px;
  /* border: 2px solid blue; */
  padding: 15px;
}

@keyframes fill-progress {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

#my-projects {
  padding-top: 30px;
  width: 80%;
  height: 80%;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  gap: 15px;
}

.scrolling {
  overflow: scroll;
  position: relative;
}

header img {
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 80%;
  height: 80%;
  justify-content: center;
}

.project {
  position: relative;
  width: auto;
  /* border: 1px solid green; */
}

#info button {
  width: 7rem !important;
}

.cont {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  /*   border: 1px solid red; */
  width: 100%;
  margin: 10px 0px !important;
}

header,
#my-progress,
#my-projects {
  /* border: 1px solid red; */
}

.informacion-academica {
  grid-column: 1/3;
  justify-self: center;
}

h1 {
  font-size: 5vh;
  font-weight: bold;
}

.project h3 {
  color: white;
  background-color: black;
  margin: 0px;
  padding: 5px;
}

h2 {
  font-size: 4vh;
  font-weight: bold;
}

h3 {
  font-size: 3vh;
}

* {
  text-align: center;
}

p {
  font-size: 12px;
}

.modal-body p {
  font-size: 1rem;
}

#info button {
  margin: 1px;
}

.overlay svg {
  width: 50%;
  color: black;
}
.project .overlay {
  transition: all 0.5s ease-in;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
  width: 50%;
  height: 50%;
}

.project:hover .overlay {
  opacity: 1;
}

.project img {
  transition: all 0.5s ease-in;
}

.project:hover img {
  opacity: 0.3;
}

#my-progress {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 80%;
  width: 80%;
  justify-content: center;
}

footer p {
  font-weight: bolder;

  font-size: 1rem;
}

.sub-cont2 {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  height: 50%;
}
hr {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr:before {
  /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
